<div class="left-nav bg-secondary">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-outline-light" routerLink="/rundown">Rundown</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-outline-light" routerLink="/create">Create Rundown</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-outline-light" routerLink="/story">Story</button>
            </div>
        </div>
    </div>
</div>