<div style="position: fixed; top: 10px; right: 50px; text-align: right;">
    <div *ngFor=" let alert of alertServ.alerts; let i=index" onclick="this.style.display='none'">
        <button [class]="'btn btn-' + alert.alertType + ' my-1 shadow'">
            <div style="float: left; width: 90%;">
                {{alert.alertText}}
            </div>
            <div style=" float: right; width: 10%;font-size: 150%; line-height: 80%;">
                &times;
            </div>
        </button>
    </div>
</div>