.main-content {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    /* width: 100vw;  */
    width: 100%;
    height: 100vh; 
    z-index: 0; 
    padding-top: 65px; 
    padding-left: 200px; 
    overflow: auto;
    background-color: seashell;
    /* float: left; */
  }

.left-content {
  float: left;
  width: 20%;
  height: 100vh; 
}

.right-content {
  padding-top: 65px;
  float: left;
  width: 80%;
}
/**** SCROLL BAR ****/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #999;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
    width: 4px;
  }

  ::-webkit-scrollbar-track-piece {
    background: #212529;
  }

  ::-webkit-scrollbar-corner {
    background: #212529;
  }

