<div class="container">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
            <form>
                <div class="mb-3">
                    <label for="storyTitle" class="form-label">Story Title</label>
                    <input [(ngModel)]="story.storyTitle" name="storyTitle" type="text" class="form-control"
                        id="storyTitle">
                </div>
                <div class="mb-3">
                    <textarea [(ngModel)]="story.storyScript" name="storyScript" class="form-control" id="storyScript"
                        rows="20"></textarea>
                </div>
                <button type="submit" (click)="addStory()" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>