/**** SCROLL BAR ****/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #999;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0d6efd;
    width: 4px;
  }

  ::-webkit-scrollbar-track-piece {
    background: #212529;
  }

  ::-webkit-scrollbar-corner {
    background: #212529;
  }
